html {border-top: 30px solid;
      border-color: #33304B;
      width: 100%;
      font-family: Arial;}

.navbar { /*This contains the City logo, Nav buttons and Login button*/
  display: flex;
  flex-direction: row;
  height: 160px;
  width: auto;
  background-color: #FFB9B9;
  border: 2px solid;
  align-items: center;
  margin: -9px -8px 0px -8px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;}

.photo {
  margin: auto;}
#citylogo {
  height: 130px;
  cursor: pointer;}

.box1 { /*Top Nav button row*/
  display: flex;
  flex-direction: row;}
.box2 { /*Bottom Nav button row*/
  display: flex;
  flex-direction: row;}

.case { /*This centers the Nav buttons*/
  margin: auto;}

.profile, .customer, .chat, .community, .about, .help { /*p within element and element2*/
  padding: 20px 5px 20px 5px;
  border: 4px #800159 solid;
  cursor: pointer;}

.element {
  text-align: center;
  width: 180px;
  height: 65px;
  margin: auto;
  color: #FFFFFF;}
.element2 {
  text-align: center;
  width: 180px;
  height: auto;
  color: #02001F;
  text-decoration: underline;
  font-size: 0.9em;}

.login { /*div containing login text*/
  margin: auto;}
.logintext { /*The login text itself*/
  color: #FFFFFF;
  border: 5px #800159 solid;
  background-color: #980027;
  text-align: center;
  padding: 50px;}

.searchtext {color: #224433;
       background-color: #f1f1f1;
       padding: 10px;
       border: none;
       width: 500px;
       text-align: center;
       border-radius: 20px;}
.searchbutton {margin: 5px;
         padding: 5px 30px 5px 30px;
         width: 300px;
         border-radius: 10px;
         border-color: #DCFCFC;
         background-color: #DCFCFC;}

#search {
       margin-top: 10px;
       padding: 10px;
       text-align: center;}

.page {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 97.8%;
  background-color: #F7F7FF;
  align-items: center;
  margin: auto;
  padding: 20px 0px 20px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.left {display: flex;
       flex-direction: column;
       width: 400px;
       margin: auto;}

.left_title {color: #224433;
  background-color: #FFE9E9;
  padding: 10px;
  border: 3px #EB4848 solid;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  border-radius: 20px;
  margin: auto;}

.leftelement, .leftelement2 {
  padding: 10px;
  text-align: center;
  border: 2px #9a2371 solid;
  border-radius: 2px;}
.leftelement {background-color: #FFA2A6;}
.leftelement2 {background-color: #FFD6D6;}

.center {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;}

.centertitle {
  color: #FFFBE1;
  background-color: #5C2A2A;
  padding: 10px;
  border: 4px #B30000 solid;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  border-radius: 20px;
  margin: auto;}

.centerelement, .centerelementimg {
  padding: 5px;
  text-align: center;}
.centerelement {
  border: 20px #C5E7FF solid;
  border-radius: 5px;
  background-color: #FFF1F2;}

.centerimg {height: 200px;}

.right {display: flex;
        flex-direction: column;
        width: 400px;
        margin: auto;}

.righttitle {color: #224433;
  background-color: #FFE9E9;
  padding: 10px;
  border: 3px #EB4848 solid;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  border-radius: 20px;
  margin: auto;}
.rightsubtitle {padding: 1px;
  text-align: center;
  background-color: #10D4BF;
  border-radius: 2px;}
.rightelement {padding: 10px;
  text-align: center;
  background-color: #C4F2FE;
  border-radius: 2px;}

footer {
  height: 200px;
  background-image: linear-gradient(#A2A2A2, black);
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin: 0px -8px -8px -10px;}
#citylogo2 {height: 130px; padding: 30px 60px 30px 60px;}

.info {
  padding: 5px;
  text-align: justify;
  color: #FFFFFF;
  line-height: 1.4;
  margin: auto;}

.social {
  flex: 1 1 33%;
  text-align: center;
  text-decoration: underline;
  color: #FFFACB;
  line-height: 0.3;
  justify-content: space-around;
  margin: auto;}

  @media (max-width:576px) {
    body {background-color: #ddbdff;
          width: auto;}
    .page {width: auto;
           flex-direction: column;
           align-items: center;}
    .searchtext {margin:auto; max-width: 300px;}
    .element, .element2, .login {
       width: auto; margin: auto;}
    .profile, .customer, .chat, .community, .about, .help, .logintext {width: 70px; height: auto; padding: auto; font-size: 0.4em;}
    .logintext {padding: 20px 10px;}
    footer {display: flex; flex-direction: column; height: auto;}
    #citylogo {width: 60px; height: 35px;}
    .centerelement, .centertitle, .center {width: auto; margin: 15px; padding: 5px;}}
